<?xml version="1.0" encoding="UTF-8"?>
<included>
    <logger name="jdbc" level="OFF"/>
    <logger name="jdbc.sqlonly" level="OFF"/>
    <logger name="jdbc.resultsettable" level="DEBUG" additivity="false">
        <appender-ref ref="console" />
    </logger>
    <logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
        <appender-ref ref="console" />
    </logger>

    <logger name="com.ploonet.wc.service.ServiceApiVoiceGwMng" level="DEBUG" additivity="false">
        <appender-ref ref="console" />
    </logger>

    <logger name="com.aice.repo" level="OFF"/>

    <!-- root -->
    <root level="info">
        <appender-ref ref="console" />
    </root>
</included>